* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #181f2a;
}

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

main {
  margin: 2rem;
  max-width: 60rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.header_logo {
  height: 1.6rem;
}

.header_buttons_list {
  display: flex;
}
.header_buttons_list > *:not(:first-child) {
  margin-left: 1.6rem;
}

.header_list_button {
  list-style: none;
  margin: auto 0;
}

hero {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
hero h2 {
  line-height: 1.5;
  margin: 1rem 0;
}
hero p {
  text-align: center;
}
hero .hero_image {
  width: 100%;
  max-width: 42rem;
  margin: 1rem 0;
}
hero button {
  border-radius: 3rem;
  border: none;
  background-color: #339ecc;
  color: white;
  font-weight: bold;
  margin: 2rem;
  padding: 1rem;
  width: 16rem;
}

.features_section {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto;
  justify-content: center;
}
.features_section > *:not(:first-child) {
  margin-top: 3rem;
}

.feature_tile {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 24rem;
}
.feature_tile img {
  margin: 2rem auto;
  height: 4rem;
}
.feature_tile h3 {
  margin: 1rem 0;
}
.feature_tile p {
  text-align: center;
}

.productive_section {
  display: grid;
  grid-column: 1fr;
  justify-items: left;
  margin: 10rem 0;
}
.productive_section h3,
.productive_section p {
  margin: 1rem 0;
}
.productive_section .productive_image {
  justify-self: center;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}
.productive_section a {
  color: #65e2d9;
  text-decoration: none;
  border-bottom: #65e2d9 solid 0.15rem;
  padding: 0.2rem 0;
  display: inline-grid;
  grid-template-columns: auto 1rem;
  grid-column-gap: 0.5rem;
}
.productive_section a img {
  margin: auto 0;
}

.quotations_section {
  margin: 5rem 1rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.65rem;
  background-image: url(/images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 2rem;
}
.quotations_section > *:not(:first-child) {
  margin-top: 1rem;
}

.quotations_tile {
  background: #202a3c;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

author {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: 2rem auto;
  margin-top: 1rem;
}
author img {
  height: 2rem;
  border-radius: 50%;
  grid-row: 1/span 2;
}
author name {
  font-weight: bold;
}
author description {
  font-size: 0.6rem;
  grid-column: 2/2;
  opacity: 50%;
}

.early_access_section {
  background-color: #181f2a;
  background-image: linear-gradient(to top, #0b1523, #0b1523 50%, #181f2a 50%);
  padding-bottom: 2rem;
}
.early_access_section .content {
  background-color: #1c2431;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 38rem;
}
.early_access_section h3 {
  margin: 1rem 0;
}
.early_access_section p {
  text-align: center;
  margin: 1rem 0;
}
.early_access_section .subscr {
  display: flex;
  flex-direction: column;
}
.early_access_section input {
  border: none;
  border-radius: 2rem;
  margin: 1rem 0;
  padding: 1rem;
}
.early_access_section button {
  border: none;
  border-radius: 2rem;
  background-color: #339ecc;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

footer {
  background-color: #0b1523;
  padding: 2rem;
}

.contact_section {
  display: grid;
  grid-row-gap: 2rem;
}
.contact_section #contact__logo {
  height: 3rem;
}
.contact_section .contact_content {
  display: flex;
  flex-direction: column;
}
.contact_section #contact__navigation {
  display: grid;
  grid-template-columns: 2rem 1fr;
}
.contact_section img {
  margin: 0.35rem 1rem 0.35rem 0rem;
  height: 1rem;
}
.contact_section #contact__methods {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-row-gap: 1rem;
  margin: 1rem 0;
}
.contact_section p {
  align-content: center;
  margin: auto 0;
}

.hyperlinks_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.hyperlinks_section a {
  display: block;
  margin: 1rem 0;
}
.hyperlinks_section > *:not(:first-child) {
  margin-top: 2rem;
}

.social_media_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
  margin: 1rem auto;
  width: 5.5rem;
}
.social_media_section a {
  border: white solid 1px;
  border-radius: 50%;
  height: 1.5rem;
}
@media (min-width: 820px) {
  main {
    margin: 2rem auto;
  }

  hero h2 {
    font-size: 2.2rem;
    max-width: 40rem;
  }
  hero p {
    font-size: 1.1rem;
    max-width: 34rem;
  }

  .features_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
  .features_section > *:not(:first-child) {
    margin-top: 0rem;
  }

  .feature_tile {
    justify-self: center;
  }

  .productive_section {
    margin: 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 2fr 2fr 1fr 2fr;
    grid-column-gap: 1rem;
    align-items: end;
    justify-items: left;
  }
  .productive_section h3 {
    font-size: 2rem;
    padding-right: 25%;
    text-align: left;
  }
  .productive_section p {
    margin: 0;
  }
  .productive_section .productive_image {
    width: 100%;
    max-width: 40rem;
    grid-row: 1/span 5;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}