@use 'base';

.early_access_section {
    background-color: base.$primary_background;
    background-image:
        linear-gradient(
        to top, 
        base.$footer_background,
        base.$footer_background 50%,
        base.$primary_background 50%
        );

    padding-bottom: 2rem;

    .content {
        
        background-color: base.$secondary_background;
        
        // grid-row: span 2;
        display: flex;
        flex-direction: column;
        
        margin: 2rem;
        padding: 2rem;
        
        border-radius: 0.5rem;

        max-width: 38rem;
    }
    
    h3 {
        margin: 1rem 0;
    }

    p {
        text-align: center;
        margin: 1rem 0;
    }

    .subscr {
        display: flex;
        flex-direction: column;        
    }

    input {
        border: none;
        border-radius: 2rem;

        margin: 1rem 0;
        padding: 1rem;
    }

    button {
        border: none;
        border-radius: 2rem;

        background-color: base.$blue;
        color: base.$primary_font_color;
        font-weight: bold;

        padding: 1rem;
    }

    button:hover {
        cursor: pointer;
        background-color: base.$cyan;
    }
}