@use 'base';


@media (min-width:620px) {

    header {
        margin-top: 4rem;
    }

    .header_logo {
        height: 3rem;
    }
    
    .header_buttons_list > *:not(:first-child) {
        margin-left: 3rem;        
    }

    .quotations_section {
        justify-content: space-around;

        & > *:not(:first-child) {
            margin-top: 0;
            margin-left: 1rem;
        }

        & > * {
            flex: 1 1 24em;
            max-width: 24rem;
            margin-bottom: 1rem;
        }
    }

    .early_access_section {

        .content {
            margin: 2rem auto;
        }
        
        .subscr {
            display: grid;
            grid-template-columns: 6fr 4fr;
            grid-column-gap: 1rem;
        }

        input {
            margin: 0;
        }
    }
}

@media (min-width:820px) {

    header {
        margin-left: auto;
        margin-right: auto;
        width: clamp(70%, 80%, 75rem);
    }

    main {
        margin: 2rem auto;
    }
    
    hero {
        h2 {
            font-size: 2.2rem;
            max-width: 40rem;
        }

        p {
            font-size: 1.1rem;
            max-width: 34rem;
        }
    }
    .features_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
                
        & > *:not(:first-child) {
            margin-top: 0rem;
        }
    }

    .feature_tile {
        justify-self: center;
    }
    
    .productive_section {
        margin: 10rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 6fr 2fr 2fr 1fr 2fr;
        grid-column-gap: 1rem;
        align-items: end;
        justify-items: left;

        h3 {
            font-size: 2rem;
            padding-right: 25%;
            text-align: left;
        }

        p {
            margin: 0;
        }

        .productive_image {
            width: 100%;
            max-width: 40rem;

            grid-row: 1/ span 5;
        }
    }

    .quotations_section {
        & > *:not(:first-child) {
            margin-top: 0;
        }
    }

    .quotations_tile {
        width: 30%;
    }


    .early_access_section {

        .content {
            max-width: 42rem;
        }

        .subscr {
            grid-template-columns: 7fr 3fr;
        }
    }

    @media (min-width:1000px) {

        footer .content {
            display: grid;
            grid-column-gap: 4rem;
            grid-template-columns: 9fr 4fr 2fr;
            // margin: 0 auto;
            margin: 0 max(15%, 8rem);
            // width: 100%;
            // padding: 5rem max(10%, 8rem);
        }

        .contact_section .contact_content {
            align-items: flex-start;
            flex-direction: row;

            // & > * {
            //     flex-basis: 100%;
            // }

            // & > :last-child {

            // }
        }

        .contact_section #contact__methods {
            margin: 0;
            margin-left: 6rem;
            width: 40ch;
        }

        .hyperlinks_section {
            flex-direction: row;
            justify-content: space-around;
            margin: 0;

            & > :not(:first-child) {
                margin: 0;
            }

            & > div > :first-child {
                margin-top: 0;
            }
        }

        .social_media_section {      
            margin: 0 auto;
        }

        footer .attribution {
            grid-column: span 3;
            padding: 1rem;
        }
    }
}