* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: hsl(218, 28%, 13%);
}

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }