* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: hsl(218, 28%, 13%);
}

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.header_logo {
    height: 1.6rem;
}

.header_buttons_list {
    display: flex;
}

.header_buttons_list > *:not(:first-child) {
    margin-left: 1.6rem;
}

.header_list_button {
    list-style: none;
    margin: auto 0;
}

main {
    margin: 2rem;
}

hero h2 {
    line-height: 1.5;
    text-align: center;
}

.hero_image {
    width: 100%;
}

.productive_section {
    margin: 10rem 0;
}

.productive_section h3,
.productive_section p {
    margin: 1rem 0;
}

.productive_image {
    width: 100%;
}

.productive_section a {
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    border-bottom: hsl(176, 68%, 64%) solid 0.15rem;
    padding: 0.2rem 0;

    display: inline-grid;
    grid-template-columns: auto 1rem;
    grid-column-gap: 0.5rem;
}

.productive_section a img {
    margin: auto 0;
}

.quotations_section {
    margin: 5rem 1rem;
    padding-top: 2rem;

    display: flex;
    flex-wrap: wrap;

    font-size: 0.65rem;

    background-image: url(/images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 2rem;
}

.quotations_section > *:not(:first-child) {
    margin-top: 1rem;
}

.quotations_tile {
    background: hsl(219, 30%, 18%);
    border-radius: 0.5rem;

    padding: 1.5rem;
}

author {
    display: grid;
    grid-column-gap: 0.5rem;
    grid-template-columns: 2rem auto;
    margin-top: 1rem;
}

author img {
    height: 2rem;
    border-radius: 50%;

    grid-row: 1/ span 2;
}

author name {
    font-weight: bold;
}

author description {
    font-size: 0.6rem;
    grid-column: 2/2;
    opacity: 50%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }